{% extends 'labourcommisionhomebase.html' %}
{% block content %}
{% load static %}
  <head>
    
    <link rel="stylesheet" type="text/css" href="{% static 'vali-master/docs/css/main.css' %}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <!-- Navbar-->
    
    <main>
      <div>
        <div>
          <h1><i></i> GENERATE CARD</h1>
          <p>ACARD GENERATED CARD BY LABOUR COMMISSION</p>
        </div>
        <ul>
         
         
          <li></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
<table class="table table-hover table-bordered" id="sampleTable">
    <thead>
      <tr>
        <th>WORKERNAME</th>
        <th>ADDRESS</th>
        <th>PINCODE</th>
        <th>STATE</th>
        <th>DISTRICT</th>
        <th>CITY</th>
        <th>AADHARNUMBER</th>
        <th>CONTACTNUMBER</th>
        <th>EMAIL</th>
        <th></th>
        <th></th>
        
      </tr>
    </thead>
    <tbody>
      {% for stu in stu %}
    <tr>
      <td>{{stu.workername}}</td>
      <td>{{stu.address}}</td>
      <td>{{stu.pincode}}</td>
      <td>{{stu.state}}</td>
      <td>{{stu.district}}</td>
      <td>{{stu.city}}</td>
      <td>{{stu.aadharnumber}}</td>
      <td>{{stu.contactnumber}}</td>
      <td>{{stu.email}}</td>
      <td><a href="generatecardlc/{{stu.id}}" class="btn btn-success">GENERATE CARD</a></td>
      <td><a href="labourcommissionuploadcard/{{stu.id}}" class="btn btn-success">UPLOAD CARD</a></td>
      </tr>
      
        {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>
</div>
</main>
<!-- Essential javascripts for application to work-->
<script src="{% static 'vali-master/docs/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'vali-master/docs/js/popper.min.js' %}"></script>
<script src="{% static 'vali-master/docs/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vali-master/docs/js/main.js' %}"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="{% static 'vali-master/docs/js/plugins/pace.min.js' %}"></script>
<!-- Page specific javascripts-->
<!-- Data table plugin-->
<script type="text/javascript" src="{% static 'vali-master/docs/js/plugins/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vali-master/docs/js/plugins/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript">$('#sampleTable').DataTable();</script>
<!-- Google analytics script-->
<script type="text/javascript">
if(document.location.hostname == 'pratikborsadiya.in') {
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-72504830-1', 'auto');
ga('send', 'pageview');
}
</script>
</body>


        {% endblock content %}


   