
<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App Template</title>
  <link rel="stylesheet" href="{% static 'chat-template-master/bootstrap3.3/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'chat-template-master/chat.css' %}">
   {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"> {% endcomment %}
</head> 
 
<body>
    {% for stu in stu %}
  <div id="app" class="app">

    <!-- LEFT SECTION -->

    <section id="main-left" class="main-left">
      <!-- header -->
      <div id="header-left" class="header-left">
        <span class="glyphicon glyphicon-menu-hamburger hamburger-btn"></span>
        <span class="glyphicon glyphicon-search search-btn"></span>
        
          <span class="glyphicon "></span>
        <a href="previous1">
         <span class="glyphicon glyphicon-arrow-left"></span> 
        </a>
      </div>
      
      <!-- chat list -->
       <div id="chat-list" class="chat-list">
        <!-- user lists -->
       
        <div id="friends" class="friends">
          <!-- photo -->
          <div class="profile friends-photo">
            <img src="{% static 'chat-template-master/images/drf1.jpg' %}" alt="">
          </div>
          
          <div class="friends-credent">
            <!-- name -->
            <span class="friends-name"><a href="lbouchat1/{{stu.id}}">{{stu.addressline1}}</a><br>
              
            </span>
            <!-- last message -->
            <span class="friends-message"></span>
             <span class="friends-message"></span> 
          </div>
          <!-- notification badge -->
          <span class="badge notif-badge"></span>
        </div>
       
        
      </div>

      <!-- self-profile -->
      {% comment %} <div id="self-info" class="self-info">
        <!-- photo -->
        <div class="profile your-photo">
          <img src="{% static 'chat-template-master/images/ava4.jpg' %}" alt="">
        </div>
        <!-- name -->
        <h4 class="name your-name">Iqbal Taufiq</h4>
        <!-- setting btn -->
        <span class="glyphicon glyphicon-cog"></span>
      </div> {% endcomment %}
    </section>
    {% endfor %}
    <!-- RIGHT SECTION -->
   
   
   
    <section  class="main-right">
      <!-- header -->
      <div class="header-right">
        <!-- profile pict -->
        
        <div class="profile header-img">
          <img src="{% static 'chat-template-master/images/lbc.jpg' %}" alt="">
        </div>

        <!-- name -->
        <h4 class="name friend-name">labour commission</h4>
        
        <!-- some btn -->
        <div class="some-btn">
          <a href="previous2">
            <span class="glyphicon glyphicon-arrow-left"></span>
          </a>
        </div>
      </div>
      {%for s1 in s1 %}
      <!-- chat area -->
      <div id="chat-area" class="chat-area">
        <!-- chat content -->
        
        <!-- FRIENDS CHAT TEMPLATE -->
        <div class="friends-chat">
          <div class="profile friends-chat-photo">
            <img src="{% static 'chat-template-master/images/lbc.jpg' %}" alt="">
          </div>
          <div class="friends-chat-content">
            <p class="friends-chat-name">labour commission</p>
            <p class="friends-chat-balloon">{{s1.message}}</p>
            <h5 class="chat-datetime">{{s1.date}}</h5>
          </div>
        </div>
        {% endfor %}
        {%for s2 in s2 %}
        <!-- YOUR CHAT TEMPLATE -->
        <div id="your-chat" class="your-chat">
          <p class="your-chat-balloon">{{s2.message}}</p>
          <p class="chat-datetime"><span class="glyphicon glyphicon-ok"></span> {{s2.date}}</p>
        </div>
        {% endfor %}
        <!-- Input form for message -->
        <form action="{% url 'policechat2' 1 %}" method="post">
          {% csrf_token %}
          <div class="typing-area">
            <input type="text" name="message" class="form-control" placeholder="Type something...">
            <button type="submit" class="send-btn btn btn-primary">
              <span class="glyphicon glyphicon-send"></span> 
            </button>
          </div>
        </form>
       
      </div>
      
     
    </section>
  </div>
 
 
  
</body>
</html>
